# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor':
  'alt-cmd-l': 'handy-dandy:copy-line'
  'alt-cmd-p': 'handy-dandy:copy-path'
  'ctrl-alt-cmd-p': 'handy-dandy:copy-full-path'
  'ctrl-alt-cmd-n': 'handy-dandy:generate-numbers'
  'ctrl-alt-cmd-h': 'handy-dandy:add-helper-method'
  'alt-cmd-2': 'handy-dandy:set-tabs-to-2'
  'alt-cmd-4': 'handy-dandy:set-tabs-to-4'
